**/.dockerignore
**/bin
**/obj
**/out
**/TestResults
**/.git
**/.gitignore
**/.env
**/.env.*
**/README.md
**/Dockerfile*
**/docker-compose*
**/node_modules
**/npm-debug.log
**/yarn-error.log
**/yarn.lock
**/package-lock.json
**/.vscode
**/.vs
**/*.user
**/*.suo
**/*.tmp
**/*.log